<ion-view view-title="A propos">
  <ion-content scroll="false"class="padding">
    <form class="list" ng-submit="search(city)">
  <label class="item item-input">
    <input type="text" placeholder="Ville" ng-model="city">
  </label>
  <div class="padding">

  <button class="button button-block button-dark">envoyer</button>
</div>

</form>
</ion-content>
</ion-view>
